html {
    margin: 0;
    padding: 0;
}

body {
  background-image: url('https://raw.githubusercontent.com/Deepak5j/WebImages/master/Tiles/Black_and_Blue_Background_Wallpaper_8z5fg.jpg');
  background-repeat: round;
  
}
h1 {
    color: #0f0;
    text-shadow: 1px 2px 3px #f00;
    text-align: center;
    font-family: 'Verdana';
    font-size: 30px
}
.mm {
    color:#0ff;
    text-shadow: 1px 1px 2px #f00;
    text-align: justify;
    font-family: 'Segoe UI';
    font-size: 20px;
    margin: 50px;
}
dt {
    font-weight: bold;
}
dd {
    color: #0f0;
}
td {
    color: #0000ff;
    text-shadow: 1px 1px 2px #f00;
    font-family: 'Verdana';
    font-size: 20px;
}
.a, .b, .c, .d, .e, .f, .g, .h, .i {
    display: none;
    color: #ffff00;
    text-shadow: 1px 1px 3px #ff0000;
    font-family: 'Segoe UI';
    font-size: 20px;
    text-align: justify;
    margin: 50px;
}
.btn {
  padding: 15px 25px;
  font-size: 20px;
  outline: none;
  color: #040;
  background-color: #0ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #f00;
  font-weight: bold;
}
.btn:active {
  background-color: #0ff;
  box-shadow: 0 5px #0ff;
  transform: translateY(4px);
}
input {
    color: red;
    background-color: #000;
    border: 0;
    font-size: 23px;
}